

$btn-padding-x-lg : 1.7rem;
@import '../node_modules/bootstrap/scss/bootstrap.scss';

body{
    box-sizing: border-box;
}
.form{
    width: 100%;
    height: 100px;
    text-align: right;
    background-color: rgb(32, 32, 32);
    color: white;
    border: none;
    border-radius: 15px;
    pointer-events: none;
}
.btn-block{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number-pad{
    background-color: rgb(32, 32, 32);
    padding: 8px;
    border-radius: 10px;
}